{
  "PARTNER_TOKEN": "your_partner_token_here",
  "USER_PHONE": "998901234567",
  "USER_EMAIL": "you@example.com"
}




run qilish : 

1 : cd example

2 : cp env.json.example env.json

3 : flutter run -t lib/main_embed.dart --dart-define-from-file=env.json