{
  "MYSAFAR_BASE_URL": "https://api.mysafar.ru",
  "MYSAFAR_SKOTE_BASE_URL": "https://cms.mysafar.uz/api",
  "MYSAFAR_PARTNER_TOKEN": "your_partner_token_here",
  "MYSAFAR_APP_NAME": "Unired",
  "MYSAFAR_CARD_TOKEN_SECRET": "",
  "USER_PHONE": "",
  "USER_EMAIL": ""
}
