{
  "PARTNER_TOKEN": "dc4d62b5c3162046ce360d83577763d6aa59ae77",
  "USER_PHONE": "998991098807",
  "USER_EMAIL": "nomonjonovmuhammadrizo227@google.com"
}




run qilish ( ozim uchun ) : 

1 : cd example

2 : cp env.json.example env.json

3 : flutter run -t lib/main_embed.dart --dart-define-from-file=env.json